<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">


	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-Da-Burger!</title>
</head>

<body>
	<div class="row">
		<div class="col-sm-12">
			<div>
				<h1>Eat-Da-Burger!</h1>
			</div>
			<img src="/assets/img/burger.gif" width="400px" id="cute_burger">
		</div>
	</div>

	{{{ body }}}

	<footer class="footer burgerFooter">
		<div class="container">
			<span>Anthony Kehn</span> |
			<a href="https://github.com/akehn/burger" target='_blank'>GitHub Repo</a>
		</div>
	</footer>
</body>

</html>